<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" type="text/css" href="./static/semantic/semantic.min.css" />

    <style>
        .highlighted {
            background-color: #9AB6F1;
        }
        .upload-input{
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            height: 100%;
            width: 100%;
        }
    </style>

</head>
<body>



<div class="ui labeled button" tabindex="0">
    <div class="ui red button">
        <i class="heart icon"></i> 喜欢
    </div>
    <a class="ui basic red left pointing label">
        1,048
    </a>
</div>
<div class="ui labeled button" tabindex="0">
    <div class="ui basic blue button">
        <i class="fork icon"></i> 讨厌
    </div>
    <a class="ui basic left pointing blue label">
        1,048
    </a>
</div>

<br/>
<br/><br/><br/>





<button onclick="download()"> 文件下载</button>

<br/>

<br/>

<br/>

<div class="Containers">
    <div class="ui five column grid" id="gridDemo">
        <div class="column moved">
            <div class="ui segment">
                1
            </div>
        </div>
        <div class="column moved">
            <div class="ui segment">
                2
            </div>
        </div>
        <div class="column moved">
            <div class="ui segment">
                3
            </div>
        </div>
        <div class="column moved">
            <div class="ui segment">
                4
            </div>
        </div>
        <div class="column">
            <div class="ui segment">
                5
            </div>
        </div>
        <div class="column">
            <div class="ui segment">
                6
            </div>
        </div>
        <div class="column">
            <div class="ui segment">
                7
            </div>
        </div>
        <div class="column">
            <div class="ui segment">
                8
            </div>
        </div>
        <div class="column">
            <div class="ui segment">
                9
            </div>
        </div>
        <div class="column filtered">
            <div class="ui segment">

                <div class="ui massive blue label" style="position: relative" >
                    <img class="ui right spaced avatar image" src="../images/avatar/small/elliot.jpg">
                    选择图片
                    <input  type="file" accept="image/png,image/gif" multiple="multiple" class="upload-input">
                </div>

                <!--<button class="ui fluid icon button" onclick="addColumn()">
                    <i class="cloud icon"></i>
                </button>-->
            </div>
        </div>
    </div>
</div>


<h3>单文件上传</h3>

<form method="post" action="/file/upload" enctype="multipart/form-data">
    <input type="file" name="file"><br>
    <input type="submit" value="提交">
</form>


<h3>多文件上传</h3>

<form method="post" action="/file/multiUpload" enctype="multipart/form-data">
    <input type="file" name="file"><br>
    <input type="file" name="file"><br>
    <input type="file" name="file"><br>
    <input type="submit" value="提交">
</form>

<script type="text/javascript" src="./static/js/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="./static/js/Sortable.min.js"></script>
<script type="text/javascript" src="./static/semantic/semantic.min.js"></script>



<script>

/*
    方法一:

    通过配置属性完成

    handle: 设置可拖拽元素的className

    filter: 设置不可拖拽元素的className

    dragable: 设置设置可被拖拽区域的className

    方法二：

    在onStart实践中通过方法toArray先记录拖拽前的顺序, onEnd若拖拽不合法可以使用sort方法重新变回拖拽前的顺序
    */

    // 文件改变时 将文件名称显示到p元素中
    $('.upload-input').on('change', function(event) {
        var fileName = '已选文件：' + event.target.files[0].name;

        console.log("-------------",fileName);
        addColumn();
        //$('.file-name').text(fileName)
    })

    function download() {
        console.log("-------------");
        window.open("http://localhost:8080/aliyun/file/download")
    }

    var gridDemo = document.getElementById('gridDemo');
    var sortable = new Sortable(gridDemo, {
        filter: '.filtered', // 'filtered' class is not draggable
        draggable:'.moved',
        animation: 150,
        swap: true,
        swapClass: 'highlighted',
        //ghostClass: 'blue-background-class'
    });

    function addColumn() {
        console.log("----------------");
        $(".filtered").before("<div class='column'> <div class='ui segment'>14 </div></div>");
        console.log("--------ssss--------");
    }

</script>

</body>
</html>